mat-toolbar {
  height: 0 !important;
}

.newButtonLogin {
  background-color: #3d3d40;

  padding: 5px;
  width: 49%;
  height: 34px;

  border-radius: 5px;
  border: 0px solid #3d3d40;

  font-size: 12px;
  color: white;
}

.newButtonLogin:hover {
  background-color: #97c93d;
}

.basicMatCard {
  padding: 2% 3% !important;
  border-radius: 55px;
  background-color: whitesmoke;
}

.allPageLogin {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
}

.allPageLogin .rightSide {
  width: 42%;
  height: 100%;
  background-color: #0c3c60;
}

.allPageLogin .rightSide .cardLogin {
  min-width: 402px;
  width: 70%;
  min-height: 564px;
  height: 90%;

  border-radius: 0 10px 10px 10px;
  background-color: white;

  margin: auto;
  margin-top: 3%;
  /*     margin-right: 10px; */
  padding: 30px;

  display: flex;
  flex-direction: column;
}

.allPageLogin .rightSide .cardLogin .logoLogin {
  width: 80%;
  margin: auto;
}

.allPageLogin .rightSide .cardLogin .logoLogin img {
  max-width: 100%;
}

.allPageLogin .rightSide .cardLogin .forgetPassword {
  color: #666;
  margin-top: -20px;
  font-size: 13px;
  margin-bottom: 13px;
}

.allPageLogin .rightSide .cardLogin .buttons_site {
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  margin-bottom: 5px;
  max-width: 200px !important;
}

.allPageLogin .rightSide .cardLogin .buttons_redes_soc {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2% 0;
  max-width: 200px !important;
}

.allPageLogin .rightSide .cardLogin .buttons_redes_soc .google_img {
  cursor: pointer;
  max-width: 200px !important;
}
/* 
.allPageLogin .rightSide .cardLogin .buttons_redes_soc .google_img:hover{
  border:1px solid blue;
}

.allPageLogin .rightSide .cardLogin .buttons_redes_soc .google_img:active{
  border:1px solid blue;
  box-shadow:1px;
} */

.allPageLogin .rightSide .cardLogin .buttons_redes_soc div {
  cursor: pointer;
  width: 50%;
  max-height: 40px;
  max-width: 200px !important;
}

.allPageLogin .leftSide {
  width: 58%;
  height: 100%;
  background-color: #0c3c60;
}

.allPageLogin .leftSide .background_stilizado {
  /*     background-image: url(fundo-portal.c7a340f83f4b984b1c38.jpg);
    background-size: auto 100%;
    background-position: unset;
    background-repeat: no-repeat;
    height: 100%; */
  width: 600px;
  height: 100%;
  background-color: #fff0e0;
}

.allPageLogin .leftSide .background_stilizado .img_deslocada {
  position: absolute;
  bottom: 10%;
  height: 80%;
  margin-left: 30%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1050px) {
  .allPageLogin .leftSide {
    display: none;
  }

  .allPageLogin .rightSide {
    width: 100%;
  }

  .allPageLogin .rightSide .cardLogin {
    max-width: 450px;
    max-height: 600px;
  }

  /* 
    .allPageLogin .leftSide .background_stilizado{
        width:0px;
    }
    .allPageLogin .leftSide .background_stilizado .img_deslocada{
        width:0px;
    } */
}
